<h1>All Groups</h1>
<% @groups.each do |gr| %>
Group Name: <%#= gr.name %><%= link_to gr.name, group_path(gr.id) %>
<br>
<%= gr.icon %>
<br>
Created at : <%= gr.created_at %>
By: <%= link_to gr.creator.username, user_path(gr.creator.id) %>
<br>
<hr>
<% end %>
<%= link_to "Create new group", new_group_path %>
<br>

<%= link_to "Back to my page", user_path(current_user.id) %>