<p>There is your external activities:</p>
<%= link_to "Most Recent", external_activities_path(:sorted => "true") %>
<%= link_to "Most Ancient", external_activities_path(:sorted => "false") %>
<hr>
<% display_external_activities_by_param(params[:sorted], current_user).each do |act| %>
<p>Activity name: <%= act.name %></p>
<p>Activity descritpion: <%= act.description %></p>
<p>Organized by: <%= act.author.username %></p>
<p>Activity created: <%= act.created_at %></p>
<p>Activity date: <%= act.schedule_date %></p>
Group name: <%= link_to act.group.name, group_path(act.group.id) %>
<p>Posted by <%= act.author.email %> at <%= act.created_at %></p>
<hr>

<% end %>

<%=  link_to "Back to my page", user_path(current_user.id) %>