<br>
<h3>There is your personal activities</h3>
<%= link_to "Most Recent", personal_activities_path(:sorted => "true") %>
<%= link_to "Most Ancient", personal_activities_path(:sorted => "false") %>

<%  display_personal_activities_by_param(params[:sorted], current_user).each do |act|  %>
<p>Activity name: <%= act.name %></p>
<p>Activity descritpion: <%= act.description %></p>
<p>Organized by: <%= act.author.username %></p>
<p>Activity created: <%= act.created_at %></p>
<p>Activity date: <%= act.schedule_date %></p>
<hr>
<% end %>


<%=  link_to "Add new personal activity", activities_new_personal_path %> <br>
<%=  link_to "Back to my page", user_path(current_user.id) %>