<br>
<br>
Hey <%= @user.username %>!
<p>There is your activities:</p>
<hr>
<% @user.activities.each do |act| %>
<%= act.name %>
<%= act.amount %>
<p>Posted by <%= act.author.email %> at <%= act.created_at %></p>
<hr>
<% end %>
<%= link_to "Create Activity", new_activity_path %>
<%= link_to "Go to main Page", root_path %>