<p>Activity name: <%= activity.name %></p>
<p>Activity descritpion: <%= activity.description %></p>
<p>Organized by: <%= activity.author.username %></p>
<p>Activity created: <%= activity.created_at %></p>
<p>Activity date: <%= activity.schedule_date %></p>

<%= display_participation_button(activity, current_user) %>
List of participants:
<%= display_participants(activity, current_user) %>
<hr>