<h1>Last activities</h1>
<% @activities.each do |activity| %>
<%= activity.name %>
<%= activity.description %>
<p>Posted by <%= activity.author.username %> at <%= activity.created_at %></p>
<h4>Group name <%= activity.group.name unless activity.group.nil? %> with admin: <%= activity.group.creator.username unless activity.group.nil? %></h4>
<hr>
<% end %>
<hr>
<% if user_signed_in? %>
<%= link_to "Sign Out", destroy_user_session_path %>
<%= link_to "My Profile", user_path(current_user.id) %>
<%= link_to "Show All Users", users_path %>

<% else %>
<%= link_to "Sign Up", new_user_registration_path %>
<%= link_to "Sign In", new_user_session_path %>

<% end %>

<hr>