 <br>
 <br>
 <h3>Add a new external activity</h3>
 <%= form_with model: @activity, url: activities_new_external_path do |a| %>
 <%=a.hidden_field :group_id, value: params[:group] %>
 <div>
     <%= a.text_field :name %>
 </div>
 <div class="my-4">
     <%= a.text_field :description, required: true, class: "p-1" %>
 </div>
 <div class="my-4">
     <%= a.datetime_field :schedule_date, required: true, class: "p-1" %>
 </div>
 <div class="d-flex justify-content-end">
     <%= a.submit 'Create Activity', class: "btn btn-success px-5" %>
 </div>
 <% end %>
 <%= link_to "Go to main Page", root_path %>
 <%= link_to "Back to my page", user_path(current_user.id) %>