<header class="main-header">
    <div class="mh-inner-div">
        <%= link_to tag("i class='fas fa-arrow-left fa-2x'></i"), group_path(params[:group]), class: "link_i" %>
        <h3 class="header-title">Add new group activity</h3>
    </div>
</header>
<%= form_with model: @activity, url: activities_new_external_path do |a| %>
<%=a.hidden_field :group_id, value: params[:group] %>
<div class="field">
    <%= a.text_field :name, required: true, placeholder: "Title", class:"form-control" %>
</div>
<div class="field">
    <%= a.text_area :description, required: true, placeholder: "Description", class:"form-control" %>
</div>
<div class="field">
    <%= a.datetime_field :schedule_date, required: true, class:"form-control" %>
</div>
<div class="d-flex justify-content-end">
    <%= a.submit 'Create Activity', class: "btn-link add-link" %>
</div>
<% end %>